#container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, 30%);
  height: 500px;
  width: 500px;
  background-color: #ad0000;
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.gridSquare {
  margin: 1px;
  padding: 0;
  background-color: #fff;
  display: inline-block;
  float: left;
}
